# Part 2

## Complex data types

## Lists

In [1]:
cities = ['New York','London','Mumbai','Berlin','Sydney','Beijing','Singapore','Chicago','Paris','Johannesburg']

In [2]:
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Sydney',
 'Beijing',
 'Singapore',
 'Chicago',
 'Paris',
 'Johannesburg']

In [3]:
cities[0]

'New York'

In [4]:
cities[3]

'Berlin'

In [5]:
cities[-3]

'Chicago'

In [6]:
cities[1:4]

['London', 'Mumbai', 'Berlin']

In [7]:
cities.append('Rome') # add element to the end of the list
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Sydney',
 'Beijing',
 'Singapore',
 'Chicago',
 'Paris',
 'Johannesburg',
 'Rome']

In [8]:
cities.append('Istanbul','Tokyo','Toronto')
cities

TypeError: append() takes exactly one argument (3 given)

In [9]:
cities.append(['Istanbul','Tokyo','Toronto'])
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Sydney',
 'Beijing',
 'Singapore',
 'Chicago',
 'Paris',
 'Johannesburg',
 'Rome',
 ['Istanbul', 'Tokyo', 'Toronto']]

In [10]:
cities[-1]

['Istanbul', 'Tokyo', 'Toronto']

In [11]:
cities.pop() # remove the last element

['Istanbul', 'Tokyo', 'Toronto']

In [12]:
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Sydney',
 'Beijing',
 'Singapore',
 'Chicago',
 'Paris',
 'Johannesburg',
 'Rome']

In [13]:
cities.extend(['Istanbul','Tokyo','Toronto'])
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Sydney',
 'Beijing',
 'Singapore',
 'Chicago',
 'Paris',
 'Johannesburg',
 'Rome',
 'Istanbul',
 'Tokyo',
 'Toronto']

In [14]:
cities.insert(4,"Some new city") # to add an element at a particular index
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Some new city',
 'Sydney',
 'Beijing',
 'Singapore',
 'Chicago',
 'Paris',
 'Johannesburg',
 'Rome',
 'Istanbul',
 'Tokyo',
 'Toronto']

The 'remove' method only removes the first occurrence

In [15]:
cities.remove("Some new city") # Note: only removes first occurrence
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Sydney',
 'Beijing',
 'Singapore',
 'Chicago',
 'Paris',
 'Johannesburg',
 'Rome',
 'Istanbul',
 'Tokyo',
 'Toronto']

In [16]:
cities.remove("Chicago")

In [17]:
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Sydney',
 'Beijing',
 'Singapore',
 'Paris',
 'Johannesburg',
 'Rome',
 'Istanbul',
 'Tokyo',
 'Toronto']

In [4]:
"Boston" in cities

False

In [5]:
"Mumbai" in cities

True

In [6]:
num_list = [1,2,4,5,6,4,7,0]
num_list

[1, 2, 4, 5, 6, 4, 7, 0]

<b>Lists can hold mixed data types, but this is not recommended</b>

In [7]:
print("This is the start of the list of cities")
for temp_city in cities:
        print("\t%s" % temp_city)
print("This is the end of the list of cities")

This is the start of the list of cities
	New York
	London
	Mumbai
	Berlin
	Sydney
	Beijing
	Singapore
	Chicago
	Paris
	Johannesburg
This is the end of the list of cities

In [8]:
indian_cities = ['Mumbai','Delhi','Bangalore','Hyderabad','Chennai',
          'Ahmedabad','Kolkata','Surat','Pune','Jaipur','Nagpur',
          'Indore','Visakhapatnam']
indian_cities

['Mumbai',
 'Delhi',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Ahmedabad',
 'Kolkata',
 'Surat',
 'Pune',
 'Jaipur',
 'Nagpur',
 'Indore',
 'Visakhapatnam']

In [9]:
for temp_city in indian_cities:
    phrase = 'Welcome to ' + temp_city
    if "pur" in temp_city:
        print(phrase + ', which is a city containing "pur"')
    elif "bad" in temp_city:
        print(phrase + ', which is a "bad" city!')
    else:
        print(phrase)

Welcome to Mumbai
Welcome to Delhi
Welcome to Bangalore
Welcome to Hyderabad, which is a "bad" city!
Welcome to Chennai
Welcome to Ahmedabad, which is a "bad" city!
Welcome to Kolkata
Welcome to Surat
Welcome to Pune
Welcome to Jaipur, which is a city containing "pur"
Welcome to Nagpur, which is a city containing "pur"
Welcome to Indore
Welcome to Visakhapatnam

In [10]:
range(100) # same as creating the list [0,1,2,3,4,5,6,...,97,98,99]

range(0, 100)

In [11]:
for n in range(10):
    print('The inverse of ',n,' is ',1/n)

ZeroDivisionError: division by zero

In [12]:
for n in range(1,10):
    print('The inverse of ',n,' is ',1/n)

The inverse of  1  is  1.0
The inverse of  2  is  0.5
The inverse of  3  is  0.3333333333333333
The inverse of  4  is  0.25
The inverse of  5  is  0.2
The inverse of  6  is  0.16666666666666666
The inverse of  7  is  0.14285714285714285
The inverse of  8  is  0.125
The inverse of  9  is  0.1111111111111111

In [ ]:
for n in range(10):
    if n == 0:
        print('The inverse of 0 is not defined')
    else:
        print('The inverse of ',n,' is ',1/n)

Unlike strings, lists are *mutable*:

In [13]:
aList = ['Dog','Cat','Cow','Pig','Horse']

In [14]:
aList[2]

'Cow'

In [15]:
aList[2] = 'Buffalo'

In [16]:
aList

['Dog', 'Cat', 'Buffalo', 'Pig', 'Horse']

# Boolean operators

In [17]:
1 == 2

False

In [18]:
2 == 2

True

In [19]:
x = 3 # Assignment

In [20]:
x == 4 # Comparison

False

In [21]:
3 > 6

False

In [22]:
5 < 9

True

In [23]:
1 >= 2

False

In [24]:
1 <= 2

True

In [25]:
1 != 2

True

# Tuples - like lists, but are immutable

In [26]:
t = (1,2,3)
t

(1, 2, 3)

In [27]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
t1 = [1,2,3]
t1

[1, 2, 3]

In [29]:
t1.append(4)
t1

[1, 2, 3, 4]

Tuples can also be created from other objects using the function *tuple()*

In [30]:
newTuple = tuple(t1)

In [31]:
newTuple

(1, 2, 3, 4)

<b>Now note:</b>


[ ] is used to specify the index of a string or list or other object

[ ] is also used to define a list

( ) is used to pass arguments (or parameters) to a function or method

( ) is also used to define a tuple

# Dictionaries - mapping objects or associative arrays

### An unordered collection of key-value pairs

In [20]:
my_list = [1,2,3]

In [35]:
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32} # note the {}

In [36]:
my_dict

{'Chicago': 22, 'Dallas': 27, 'Los Angeles': 32, 'New York': 28, 'Phoenix': 31}

In [3]:
my_dict1 = {'1':[28,12,34,56,78],'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32} # note the {}

In [4]:
my_dict1

{'1': [28, 12, 34, 56, 78],
 'Chicago': 22,
 'Dallas': 27,
 'Los Angeles': 32,
 'Phoenix': 31}

In [9]:
my_dict1['1']

[28, 12, 34, 56, 78]

In [23]:
my_dict['New York']

28

In [24]:
my_dict['St Louis']

KeyError: 'St Louis'

In [37]:
len(my_dict)

5

In [25]:
my_dict['St Louis'] = 31 # add a new key-value pair
my_dict

{'Chicago': 22,
 'Dallas': 27,
 'Los Angeles': 32,
 'New York': 28,
 'Phoenix': 31,
 'St Louis': 31}

In [ ]:
my_dict['Dallas'] = 28 # change value for an existing key
my_dict

In [27]:
'Boston' in my_dict

False

In [28]:
'Chicago' in my_dict

True

In [29]:
del my_dict['Phoenix']
my_dict

{'Chicago': 22,
 'Dallas': 27,
 'Los Angeles': 32,
 'New York': 28,
 'St Louis': 31}

In [30]:
dict1 = {'SF':8.37e5,'LA':3.88e6,'NYC':8.4e6}

In [31]:
dict2 = {'City':['SF','LA','NYC'],'Population':[8.37e5,3.88e6,8.4e6]} # create a dictionary
dict2

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000.0, 3880000.0, 8400000.0]}

## End of part 2