# Part 4

## Reading and writing text files

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
import os
os.getcwd()

'/home/nbuser/library'

In [4]:
os.chdir("data/") # same as R:setwd('')

In [5]:
os.listdir()

['nfl_frame.csv',
 'test3.csv',
 'dummydata2.csv',
 'test.csv',
 'dummydata1.csv',
 'dummydata11.csv',
 'tips.csv',
 'flights.csv',
 'test2.txt',
 'redwines.csv']

Files can be read using functions such as *read()* and *readlines()*, or by treating the file as an iterable object  of lines and working with the lines directly.

However in data science and analytics, we most commonly work with rectangular data stored in a familiar format such as CSV

In [6]:
dframe = pd.read_csv("dummydata1.csv",header = None) # R:read.csv

In [8]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

You don't actually HAVE to change directory; instead, you can leave your working directory unchanged and specify the file path when reading:

*e.g.* `read_csv("D:/Training/Datasets/dummydata1.csv")`

#### File modes

When you open a file, by default it is opened in read mode. However this is not the only mode available. The mode of a file object states whether the file connection that we have opened will treat the file as containing text or binary data and whether we will be reading from or writing to the file or both. The following is a table of modes that file objects can have in Python3.

| Character | Meaning                                                         |
|-----------|-----------------------------------------------------------------|
| r         | open for reading (default)                                      |
| w         | open for writing, truncating the file first                     |
| x         | open for exclusive creation, failing if the file already exists |
| a         | open for writing, appending to the end of the file if it exists |
| b         | binary mode                                                     |
| t         | text mode (default)                                             |
| +         | open a disk file for updating (reading and writing)             |

In [9]:
dframe # first row taken as headers

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [11]:
dframe = pd.read_csv("dummydata1.csv",header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [12]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [13]:
dframe = pd.read_table("dummydata11.csv",sep = '|') # generic delimited file input; R:read.table
dframe

  Col1 Col2 Col3    Col4
q    r    s    t   apple
2    3    4    5    pear
a    s    d    f  rabbit
5    2    5    7     dog

In [14]:
pd.read_csv("dummydata1.csv",header = None,nrows = 2) # read only a specific number of rows

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [15]:
dframe

  Col1 Col2 Col3    Col4
q    r    s    t   apple
2    3    4    5    pear
a    s    d    f  rabbit
5    2    5    7     dog

In [16]:
dframe.to_csv('test.csv')

In [17]:
dframe.to_csv('test2.txt',sep="~")

In [18]:
dframe.columns

Index(['Col1', 'Col2', 'Col3', 'Col4'], dtype='object')

In [19]:
dframe.to_csv('test3.csv',columns=['Col1','Col2']) # write only specific columns

In [21]:
tp = pd.read_csv('redwines.csv')

In [22]:
tp.tail()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_so2,total_so2,density,pH,sulphates,alcohol,quality
1594,6.5,0.400,0.10,2.0,0.076,30.0,47.0,0.99554,3.36,0.48,9.4,6
1595,11.6,0.410,0.54,1.5,0.095,22.0,41.0,0.99735,3.02,0.76,9.9,7
1596,10.2,0.340,0.48,2.1,0.052,5.0,9.0,0.99458,3.20,0.69,12.1,7
1597,6.6,0.440,0.15,2.1,0.076,22.0,53.0,0.99570,3.32,0.62,9.3,5
1598,8.2,0.915,0.27,2.1,0.088,7.0,23.0,0.99620,3.26,0.47,10.0,4

In [23]:
tp.shape

(1599, 12)

In [24]:
tp.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_so2', 'total_so2', 'density', 'pH', 'sulphates',
       'alcohol', 'quality'],
      dtype='object')

In [25]:
tp.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_so2,total_so2,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [26]:
tp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed_acidity       1599 non-null float64
volatile_acidity    1599 non-null float64
citric_acid         1599 non-null float64
residual_sugar      1599 non-null float64
chlorides           1599 non-null float64
free_so2            1599 non-null float64
total_so2           1599 non-null float64
density             1599 non-null float64
pH                  1599 non-null float64
sulphates           1599 non-null float64
alcohol             1599 non-null float64
quality             1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [27]:
tp.quality.value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [28]:
tp.alcohol.describe()

count    1599.000000
mean       10.422983
std         1.065668
min         8.400000
25%         9.500000
50%        10.200000
75%        11.100000
max        14.900000
Name: alcohol, dtype: float64

## End of part 4