# Part 1

## Assignment and basic operations

In [1]:
x = 6

In [2]:
x

6

In [3]:
print(x)

6

In [4]:
x + 5

11

In [5]:
x

6

In [6]:
y = x + 5

In [7]:
y

11

In [8]:
x * 3

18

In [9]:
x ** 3 # note that ** is used for exponentiation and not the ^

216

In [10]:
x ** -2

0.027777777777777776

In [11]:
x ** 0.5

2.449489742783178

In [12]:
x = 10

In [13]:
x % 3

1

In [14]:
x % 2

0

In [15]:
x % 7

3

In [16]:
x % 11

10

In [17]:
2 + 1 # integer

3

In [18]:
2 + 1.0 # float

3.0

In [19]:
type(x) # type is a function or method

int

In [20]:
float(x) # coercion

10.0

In [21]:
x

10

In [22]:
x/3

3.3333333333333335

In [23]:
x//3 # returns only the integer portion of the answer

3

Names can contain A-Z,a-z,_,0-9

In [24]:
x2 = 5

In [25]:
2x = 4 # variable name cannot start with a number

SyntaxError: invalid syntax (<ipython-input-25-6911de2d590e>, line 1)

Variable name cannot contain - + / *

In [26]:
for = 2 # reserve words cannot be used as variable names

SyntaxError: invalid syntax (<ipython-input-26-70d96a88c49d>, line 1)

In [27]:
break = 5 # reserve words cannot be used as variable names

SyntaxError: invalid syntax (<ipython-input-27-dc50e701d202>, line 1)

In [28]:
x = 10

In [29]:
type(x)

int

In [30]:
float(x) # x does not change

10.0

In [31]:
type(x)

int

In [32]:
x = float(x) # x changes

In [33]:
type(x)

float

# Numbers

### Integers

In [7]:
intZero = 0
intTen = 10
intMinusTen = -10
intHuge = 2 ** 100
print(type(intZero))
print(type(intTen))
print(type(intMinusTen))
print(type(intHuge))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [8]:
# A number with a decimal point is not an integer even if the fractional part is zero.
nonIntZero = 1.0
print(type(nonIntZero))

<class 'float'>

In [9]:
floatTen = 10.
print(floatTen)

10.0

**Type conversions**

Numbers in Python can easily be converted from a given type to a target type. Each numeric type has an associated conversion function which accepts a number and converts it to the desired type. For example a number may be converted to an int with the `int()` function, to a float with the `float()` function, and to a complex with the `complex()` function

In [10]:
intTen

10

In [11]:
float(intTen)

10.0

In [12]:
floatTen

10.0

In [13]:
int(floatTen)

10

### Order of operations - usual rules apply (BIDMAS or BODMAS)

In [14]:
width = 4

In [15]:
length = 6

In [16]:
perimeter = (2 * width) + (2 * length)
perimeter

20

In [17]:
perimeter = 2 * width + 2 * length
perimeter

20

In [18]:
perimeter = 2 * (width + length) # same as the above
perimeter

20

In [19]:
perimeter = 2 * width + length # wrong answer
perimeter

14

# Strings

In Python, strings are simply sequences of characters enclosed within quotation marks. Strings can be made using single quotes (`'hello'`) or double quotes (`"hello"`).

Being a sequence, strings also have a _length_ found by the `len` function. Additionally, strings can be thought of as *sequences* and/or *iterables*, i.e. they can be indexed and iterated over. The type of strings is `str` and different objects in Python can be converted to strings using the `str` function.

In [20]:
"Hello"

'Hello'

In [21]:
'Hello hello'

'Hello hello'

Strings are of type `str`

In [22]:
type('Hello')

str

Other objects can be converted to strings with the `str()` function.

In [23]:
str(-2)

'-2'

In [24]:
str(22/7)

'3.142857142857143'

In [25]:
str(3 < 8)

'True'

In [26]:
y = 'Hello'
y

'Hello'

In [27]:
s = "Hi"
s

'Hi'

You can include double quotation marks in your string by enclosing the string in single quotes and vice versa

In [28]:
s = 'He said "Hello"'
s

'He said "Hello"'

In [29]:
s = "She said 'Bye'"
s

"She said 'Bye'"

In [30]:
y

'Hello'

In [31]:
y + ' Fractal' # concatenation

'Hello Fractal'

In [32]:
y + 2

TypeError: Can't convert 'int' object to str implicitly

In [33]:
y + str(2)

'Hello2'

In [34]:
y * 7 # shortcut for writing y + y + y + ...

'HelloHelloHelloHelloHelloHelloHello'

In [35]:
y * 2.3

TypeError: can't multiply sequence by non-int of type 'float'

In [36]:
"e" in "Hello"

True

In [37]:
'e' in y

True

In [38]:
"x" in "Hello"

False

In [39]:
"el" in y

True

In [40]:
"h" in y # in Python, everything is case sensitive

False

In [41]:
"H" in y

True

In [42]:
y

'Hello'

In [43]:
len(y)

5

In [44]:
y[0]

'H'

In [45]:
y[4]

'o'

In [46]:
y[-1] # the first item from the end or RHS

'o'

In [47]:
y[-2]

'l'

In [48]:
len(y)

5

In [49]:
y[0:2] # Slicing - or accessing a 'slice' from a string

'He'

In [50]:
y[1:3]

'el'

In [51]:
y[1:-1]

'ell'

In [52]:
y[1:]

'ello'

In [53]:
y[:3]

'Hel'

In [54]:
y[:] # pointless!!

'Hello'

In [55]:
y[7]

IndexError: string index out of range

In [57]:
s = 'Hello and welcome to the Python training program'

In [67]:
s[3:11]

'lo and w'

To subset from index *i* to *j* in steps of size *k*, use `i:j:k` (if omitted, step size *k* is 1)

In [62]:
s[3:18:3]

'la lm'

In [60]:
s[3::3]

'la lmtt tnrngrr'

**Iteration**

Besides indexing, strings can also be iterated over as an iterable of characters using a loop (you can't do this in R!)

for x in y:
    x + y
    3 + 4
    if x > 10:

In [68]:
for char in y:
    print(char)

H
e
l
l
o

**A final note on strings**

Strings are *immutable* - they cannot be changed. You can create a new string from an existing string, and you can even overwrite the existing string with the new one, but you cannot modify an existing one:

In [69]:
myString = 'Hello and welcome'

In [70]:
myString[10]

'w'

In [71]:
myString[10] = 'W'

TypeError: 'str' object does not support item assignment

In [72]:
myString + ' to this session'

'Hello and welcome to this session'

In [73]:
myString = myString + ' to this session'
myString

'Hello and welcome to this session'

In [74]:
y.index('He')

0

In [75]:
y.index("llo")

2

In [76]:
y.index("xyz")

ValueError: substring not found

In [77]:
y.find("xyz")

-1

In [78]:
y.find("llo")

2

In [79]:
y.lower()

'hello'

In [80]:
y.upper()

'HELLO'

In [81]:
y1 = "Hello, name"
y1

'Hello, name'

In [82]:
y1.replace("name","Fractal")

'Hello, Fractal'

In [83]:
y1

'Hello, name'

In [84]:
"a a b f d a d".replace("a","x")

'x x b f d x d'

In [85]:
y1 = "Hi!\nHow are you?\n\tGood!"
print(y1)

Hi!
How are you?
	Good!

Remove leading and trailing characters

In [86]:
y1 = "   Hi  "
y1

'   Hi  '

In [87]:
y1.strip() # remove leading AND trailing spaces

'Hi'

In [88]:
y1.lstrip() # remove only leading spaces

'Hi  '

In [89]:
y1.rstrip() # remove only trailing spaces

'   Hi'

In [90]:
y.startswith("He")

True

In [91]:
y.startswith("he")

False

In [92]:
y.endswith("lo")

True

In [93]:
y.lower().startswith("he")

True

### Formatting strings

In [94]:
company_name = 'Fractal'

In [95]:
s = "Welcome to %s" % company_name
s

'Welcome to Fractal'

In [96]:
s = "Welcome to %s in %s" %("Fractal","Kiev")
s

'Welcome to Fractal in Kiev'

In [97]:
company = "Fractal"
city = "Kiev"
s = "Welcome to %s in %s" %(company,city)
s

'Welcome to Fractal in Kiev'

In [98]:
day = 7
"Welcome to training day %d" % day

'Welcome to training day 7'

In [99]:
temp = 1.3
"The temperature now is %f" % temp

'The temperature now is 1.300000'

In [100]:
"The temperature now is %.2f" % temp

'The temperature now is 1.30'

## End of part 1